<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/src/public/img/amicitia PFP.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <title>AMICITIA OF 23</title>
    <link rel="stylesheet" href="/src/public/css/style.css" type="text/css">
    <!--<script defer src="main.js"></script>-->
  </head>
  <body>

    <main>
      <section class="intro"><a class="anchor" name="intro"></a>
        <div class="submit-container">
          <span class="fs-main-heading text-primary-300 fw-bold">Message submitted</span>
          <span class="fs-body text-neutral-400">You can return to the <span style="text-decoration: under;font-style: italic; cursor: pointer;" onclick="history.back()" >previous page</span></span>
        </div>
      </section>

    </main>

  </body>

</html>
