:root{
  --clr-primary-400:hsl(195, 34%, 37%);
  --clr-primary-300:hsl(29.61, 31%, 51%);
  --clr-primary-100:hsl(189.231, 56%, 5%);

  --clr-neutral-400:hsl(25.714, 6%, 79%);
  --clr-neutral-alpha:hsla(25.714, 6%, 79%,20%);

  --clr-accent-400 :hsl(195, 34%, 17%);
  --clr-accent-300 :hsl(52, 61%, 30%);
  --clr-accent-100 :hsl(221, 70%, 20%);

  --ff-primary: 'Cinzel', sans-serif;

  --ff-body:var(--ff-primary);
  --ff-heading:var(--ff-primary);

  --fw-light:300;
  --fw-regular:400;
  --fw-semibold:600;
  --fw-bold:700;
  --fw-extrabold:900;


  --fs-100:0.5rem;
  --fs-200: 0.7rem;
  --fs-300: 0.785rem;
  --fs-400: 0.85rem;
  --fs-450: 0.935rem;
  --fs-500: 1rem;
  --fs-600: 1.5rem;
  --fs-700: 2.5rem;
  --fs-800: 3.5rem;

  --fs-body:var(--fs-450);
  --fs-main-heading:var(--fs-600);
  --fs-primary-heading:var(--fs-600);
  --fs-secondary-heading:var(--fs-500);
  --fs-nav:var(--fs-300);
  --fs-button:var(--fs-200)
}
@media (min-width:50em){
  :root{
    --fs-main-heading:var(--fs-800);
    --fs-primary-heading:var(--fs-700);
    --fs-secondary-heading:var(--fs-600);
    --fs-body:var(--fs-500);
    --fs-button:var(--fs-400)
  }
}

/* https://piccalil.li/blog/a-modern-css-reset
 */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*{
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  list-style-type: none;
}

/* Set core root defaults */
html:focus-within,html {
  scroll-behavior: smooth;
}

/* Set body height 
html,body{
  height: 100%;
}*/

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.hidden{
  opacity:0;
  transform: translateY(50%);
  filter: blur(5px);
  transition: 1200ms;
}

.show{
  opacity: 100;
  transform: translateY(0%);
  filter:none;
}

/* Utilities */
.text-primary-100{
  color:var(--clr-primary-100);
}
.text-primary-300{
  color:var(--clr-primary-300);
}
.text-primary-400{
  color:var(--clr-primary-400);
}
.text-neutral-400{
  color:var(--clr-neutral-400);
}
.text-accent-100{
  color:var(--clr-accent-300);
}
.text-accent-300{
  color:var(--clr-accent-400);
}
.text-accent-400{
  color:var(--clr-accent-400);
}
.bg-primary-100{
  background-color:var(--clr-primary-100);
}
.bg-primary-300{
  background-color:var(--clr-primary-300);
}
.bg-primary-400{
  background-color:var(--clr-primary-400);
}
.bg-neutral-400{
  background-color:var(--clr-neutral-400);
}
.bg-accent-100{
  background-color:var(--clr-accent-300);
}
.bg-accent-300{
  background-color:var(--clr-accent-400);
}
.bg-accent-400{
  background-color:var(--clr-accent-400);
}

.fw-bold{font-weight:var(--fw-bold)}
.fw-regular{font-weight:var(--fw-regular)}
.fw-light{font-weight:var(--fw-light)}
.fw-semibold{font-weight:var(--fw-semibold)}

.fs-primary-heading{
  font-size:var(--fs-primary-heading);
}
.fs-secondary-heading{
  font-size:var(--fs-secondary-heading);
}

.fs-main-heading{
  font-size:var(--fs-main-heading);
}

.fs-body{
  font-size:var(--fs-body)
}

.fs-300{
  font-size:var(--fs-300);
}
.fs-400{
  font-size:var(--fs-400);
}
.fs-450{
  font-size:var(--fs-450);
}
.fs-500{
  font-size:var(--fs-500);
}
.fs-600{
  font-size:var(--fs-600);
}
.fs-700{
  font-size:var(--fs-700);
}
.fs-800{
  font-size:var(--fs-800);
}
.fs-900{
  font-size:var(--fs-900);
}

/* General styling */

body{
  font-family: sans-serif;
  background-image: linear-gradient(to bottom right, var(--clr-primary-100),var(--clr-primary-100), var(--clr-accent-400));
}

.nav-list{
  display:none;
  gap:4rem;
  list-style-type: none;
}

.nav-list a{
  text-decoration:none;
  color:var(--clr-neutral-400);
  font-size: var(--fs-400);
  font-weight: var(--fw-semibold);
}

.container{
  --max-width:1440px;
  --padding:1rem;
  height: auto;
  width:min(var(--max-width), 100% - var(--padding));
  margin-inline: auto;
}


header{
  --padding-amount:min(4vw,5px);
  padding-top: var(--padding-amount);
  padding-bottom: var(--padding-amount);
}


.anchor{
  display:none;
}

.even-columns{
  display:flex;
  flex-direction: column;
  gap:2rem;
  align-items: center;
  justify-content: space-evenly;
}

@media (min-width:80em){
  .even-columns{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
  }
}

.primary-header{
  position: fixed;
  top:0;
  width:100%;
  z-index: 2;
  background-color: var(--clr-primary-100);
  fill-opacity: 20%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);

}

.subsection{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex:100%;
  gap:1.25rem;
}

.subsection > *{
  flex:100%;
}

.clothing > *{
  flex:none;
} 

section{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

footer{
  background-color: black;
  display: grid;
  place-items: center;
}

.button{
  cursor:pointer;
  height:auto;
  font-style:normal;
  font-size: var(--fs-button);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-400);
  border-style:solid;
  border-radius: 9000rem;
  border-width: 0.2rem;
  background-color: var(--clr-neutral-alpha);
  border-color: var(--clr-primary-300);
  transition: 400ms;
  padding: max(.7vw,5px);
  text-decoration: none;
}

.button:hover,.button:focus{
  color:var(--clr-primary-300);
  background-color: var(--clr-neutral-400);
  border-color: var(--clr-accent-300);
}

.msg-form{
  display:grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width:min(800px, 100% - var(--padding));
}

/* Specific */

.intro p{
  font-style: italic;
}

@media (max-width:50em){
  .primary-navigation{
    display:none
  }
}

@media (min-width:50em){
  .nav-list{
    display: flex;
  }
}

.mapouter{
  justify-self: center;
  position: relative;
  text-align:right;
  height:min(400px,80vw);
  width:min(400px,80vw);
  border-width:10rem;
  border-color:var(--clr-primary-300);
}
.gmap_canvas{
  overflow:hidden;
  background:none!important;
  height:min(400px,80vw);
  aspect-ratio: 1;
  border:0.3rem solid;
  border-color: var(--clr-primary-300);
  border-radius: 0.9%;
}

.form{
  display:flex;
  flex-direction: column;
  place-items: start;
  justify-content: center;
  gap: 0.75rem;
}

.main-logo{
  height: max(4vw,50px);
}

.intro .container, 
.message-collection .container,
.gallery-carousel .container{
  display: grid;
  place-items: center;
}

.gallery-carousel .container{
  gap: 5rem;
}

.intro{
  height:100vh;
  justify-content: center;
  align-items: center;
}

.nav-wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.countdown-wrapper{
  display: flex;
  max-width: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.date-container, .map-desc-container, .clothing-description{
  display: grid;
  place-items: center;
  text-align: center;
}
.map-desc-container{
  gap:0rem;
}

.msg-collector, .form{
  width:min(800px, 100% - var(--padding));
  padding-top: 1.5rem;
  padding-bottom: .25rem;
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content:center;
  align-items: stretch;
  gap:1rem;
}


.form{
  flex-direction:column ;
}

.form-field{
  display: flex;
  flex-direction: column;
}
.comment-entry-wrap{
  display:flex;
  flex-direction: column;
  padding: 1.5rem 2.5rem;
  border-radius: 8px;
  border-width: 0.4rem;
  border-color: var(--clr-primary-400)
}

.msg-name-field{
  border-radius: 8px;
  border-style: solid;
  border-color: var(--clr-primary-400);
  border-width: 0.2rem;
  height:3rem;
  padding-left: 2%;
  padding-right: 2%;
  font-size: var(--fs-450);
  font-weight: var(--fw-semibold);
  border-color: var(--clr-primary-300);
}
.message-mess{
  display:block;
  gap:1.75rem;
}

.msg-content-field{
  border-radius: 8px;
  border-style: solid;
  border-color: var(--clr-primary-400);
  border-width: 0.2rem;
  height:6rem;
  padding: 2%;
  font-size: var(--fs-450);
  font-weight: var(--fw-semibold);
  border-color: var(--clr-primary-300);
  
}

.intro{
  padding-top:0;
  padding-bottom: 0;
}

.submit-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-top: 5rem;
}

.map-detail-container, .clothing-description{
  width:min(400px,70vw);
}

.clothing{
  flex-grow: 2;
}

.clothing-description{
  flex-grow: 2;
}

.calender-button{
  display:flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}



